__pycache__/
.ipynb_checkpoints/
solved/

# include the run of the best model and the best model
runs/*
!runs/Sudoku/2023-10-09_21.45.40-trn-CNNModel_BaseV8_newNorm/
!runs/Sudoku/2023-10-09_21.45.40-val-CNNModel_BaseV8_newNorm/

models/*
!models/Sudoku/2023-10-09_21.45.40_CNNModel_BaseV8_newNorm.best.state
